<div class="panel panel-default">
  <div class="panel-heading">
      <!-- Title if you wanna do it-->
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-6">
        <%= form_with(model: service, local: true, html: { role: 'form' }) do |form| %>
          <% if service.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

              <ul>
              <% service.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="row">
            <div class="form-group">
              <div class="col-lg-6">
                <%= form.label :name %>
                <%= form.text_field :name, class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-lg-10">
                <%= form.label :description %>
                <%= form.text_area :description, class: "form-control", rows: 5 %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-lg-6">
                <%= form.label :price %>
                <div class="input-group">
                  <span class="input-group-addon"><%= @service.price.currency.symbol %></span>
                  <%= form.text_field :price, class: "form-control" %>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="actions">
              <div class="col-lg-6">
                <%= form.submit 'Save', class: "btn btn-success" %>
                <%= link_to 'Back', services_path, class: "btn btn-primary" %>
              </div>
            </div>
          </div>

        <% end %>
      </div>
        <!-- /.col-lg-6 (nested) -->
    </div>
    <!-- /.row (nested) -->
  </div>
  <!-- /.panel-body -->
</div>


