<div class="panel panel-default">
  <div class="panel-heading">
      <!-- Title if you wanna do it-->
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-6">

        <%= form_with(model: ad, local: true, html: { role: 'form' }) do |form| %>
          <% if ad.errors.any? %>
            <div id="error_explanation">
              <h2><%= t('activerecord.errors.not_saved', :model => ad.model_name.human, :count => ad.errors.count) %></h2>
              <ul>
              <% ad.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="row">
            <div class="form-group">
              <div class="col-lg-6">
                <%= form.label :title %>
                <%= form.text_field :title, class: "form-control", placeholder: "Digite o título do anúncio" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-lg-10">
                <%= form.label :description %>
                <%= form.text_area :description, class: "form-control", placeholder: "Digite a descrição do anúncio", rows: 5 %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-lg-6">
                <%= form.label :contact %>
                <%= form.text_field :contact, class: "form-control", placeholder: "Contato do whatsapp" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-lg-10">
                <%= form.label :street %>
                <%= form.text_field :street, class: "form-control", placeholder: "Rua do anúncio" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-lg-6">
                <%= form.label :city %>
                <%= form.select :city, options_for_select(cities, selected: @ad.city), {}, class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-md-6">
                <%= form.label :state %>
                <%= form.select :state, options_for_select(state, selected: @ad.state), {}, class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-lg-6">
                <%= form.label :country %>
                <%= form.select :country, options_for_select(country, selected: @ad.country), {}, class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="actions">
              <div class="col-lg-6">
                <%= form.submit t('helpers.submit.create'), class: "btn btn-success" %>
                <%= link_to t('actions.back'), ads_path, class: "btn btn-primary" %>
              </div>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
