<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <%= link_to "Encontre-me", home_index_path, class: "navbar-brand" %> 
    
  </div>
  <!-- /.navbar-header -->

  <ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: #006FFF">
          <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
          <li><%= link_to edit_user_path(current_user) do %> <i class="fa fa-gear fa-fw"></i> Conta<% end %></a>
          <li class="divider"></li>
          <li><%= link_to destroy_user_session_path, method: :delete do %> <i class="fa fa-sign-out fa-fw"></i> Sair<% end %></a>
          </li>
      </ul>
    </li>
  </ul>
  <!-- /.navbar-top-links -->

  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li>
          <% if policy(current_user).index? %>
              <%= link_to users_path, {style: "color: #006FFF"} do %>
                <i class="fa fa-users"></i> Users
              <% end %>
          <% end %>
        </li>
        <li>
            <%= link_to ads_path, {style: "color: #006FFF"} do %>
              <i class="fa fa-list"></i> Meus Anúncios
            <% end %>
        </li>
        <li>
            <%= link_to customers_path, {style: "color: #006FFF"} do %>
              <i class="fa fa-exchange"></i> Meus Clientes
            <% end %>
        </li>
        <li>
            <%= link_to books_path, {style: "color: #006FFF"} do %>
              <i class="fa fa-book"></i> Minha Agenda
            <% end %>
        </li>
      </ul>
    </div>
  </div>              
</nav>

          	
          	
