<div class="panel panel-default">
  <div class="panel-heading">
      <!-- Title if you wanna do it-->
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-6">
        <%= form_with(model: budget, local: true, rule: 'form') do |form| %>
          <% if budget.errors.any? %>
            <div id="error_explanation">
              <h2><%= t('activerecord.errors.not_saved', :model => budget.model_name.human, :count => budget.errors.count) %></h2>
              <ul>
              <% budget.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="row">
            <div class="form-group">
              <div class="col-lg-8">
                <%= form.label :customer_id %>
                <div class="input-group">
                  <span class="input-group-addon"><%= link_to new_customer_path, remote: true do %> <i class="fa fa-plus"></i></span><% end %>
                  <%= form.select(:customer_id, Customer.where(user_id: current_user.id ).collect {|p| [ p.name, p.id ] }, {prompt: "Selecione o cliente"}, { class: "form-control" })%>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="form-group">
              <div class="col-lg-6">
                <%= form.label :duedate %>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  <%= form.text_field :duedate, class: "form-control", id: "datepicker" %>
                </div>
              </div>
            </div>
          </div>

          <div id="budgetservices">
            <%= form.fields_for :budget_services do |budget_service| %>
              <%= render 'budgets/budget_services/budget_services_fields', :f => budget_service %>
            <% end %>

            <div class="links">
              <%= link_to_add_association 'Adic. Serviço', form, :budget_services, partial: 'budgets/budget_services/budget_services_fields', class: "btn btn-primary btn-xs" %>
            </div>
          </div>
          <br>
          
          <div class="row">
            <div class="form-group">
              <div class="col-lg-6">
                <%= form.label :totalprice %>
                <div class="input-group">
                  <span class="input-group-addon"><%= @budget.totalprice.currency.symbol %></span>
                  <%= form.text_field :totalprice, class: "form-control", readonly: true %>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-lg-6">
                <%= form.label :discount %>
                <div class="input-group">
                  <span class="input-group-addon"><%= @budget.discount.currency.symbol %></span>
                  <%= form.text_field :discount, class: "form-control" %>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="actions">
              <div class="col-lg-6">
                <%= form.submit t('helpers.submit.create'), class: "btn btn-success" %>
                <%= link_to t('actions.back'), budgets_path, class: "btn btn-primary" %>
              </div>
            </div>
          </div>

        <% end %>
      </div>
        <!-- /.col-lg-6 (nested) -->
    </div>
    <!-- /.row (nested) -->
  </div>
  <!-- /.panel-body -->
</div>

<%= render partial: "modals/new_customer_modal" %> 
<%= render partial: "modals/new_service_modal" %> 



