<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @budget.customer %>
</p>

<p>
  <strong>Duedate:</strong>
  <%= @budget.duedate %>
</p>

<p>
  <strong>Totalprice:</strong>
  <%= @budget.totalprice %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @budget.discount %>
</p>

<%= link_to 'Edit', edit_budget_path(@budget) %> |
<%= link_to 'Back', budgets_path %>
