<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Encontre-me</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to new_user_session_path do %> <span class="glyphicon glyphicon-log-in"></span> Login</a></li> <% end %>
    </ul>
  </div>
</nav>

<div class="container-fluid" id="search">
  <div class="row">
    <%= search_form_for @q, url: welcome_index_path, html: { method: :get } do |f| %>
      <div class="col-sm-3"></div>

      <div class="col-sm-6">
        <div class="form-group input-group">

          

            <%= f.search_field :title_or_description_cont, class: "form-control", id: "search-field", placeholder: "Digite o que você procura ! Ex: Pedreiro" %>

            <%= f.search_field :city_cont, class: "form-control", id: "search-field-city", placeholder: "Digite a cidade ou habilite a localização" %>

            <%= hidden_field_tag :latitude, params[:latitude], class: "form-control", id: "latitude-field" %>

            <%= hidden_field_tag :longitude, params[:longitude], class: "form-control", id: "longitude-field" %>

            <%= button_tag type: 'submit', class: "btn btn-default btn-block", id: "submit-button" do %>
              <i class="fa fa-search"></i>
            <% end %>

            <%= link_to request.path, class: "btn btn-default btn-block", id: "refresh-button" do %> 
              <i class="fa fa-refresh"></i>
            <% end %>

            <button onclick="getLocation(event)" class="btn btn-default btn-block" id="geolocation-button"><i class="fa fa-location-arrow"></i></button>
          
            <!--<input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                </button>
            </span>-->
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="logo">
  <% if @ads.size > 0 %> 
    <div class="container">
      <div class="row">
        <% @ads.each do |ad| %>
          <div class="col-md-3">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <%= ad.title %>
              </div>
              <div class="panel-body">
                <%= ad.description %>
              </div>

              <ul class="list-group">
                <li class="list-group-item"><%= ad.street %></li>
                <li class="list-group-item"><%= ad.city %></li>
                <li class="list-group-item"><%= ad.state %></li>
                <% if @latitude != 0 && @longitude != 0 %>
                  <li class="list-group-item"><%= distance(@latitude, @longitude, ad.latitude, ad.longitude) %><b> KM</b></li>
                <% end %>
              </ul>

            </div> 
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>




<footer class="footer">
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container">
                
            </div>
        </div>
    </div>
</footer>

