<nav class="navbar navbar-inverse" style="border-radius:0 !important">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div class="navbar-brand">
        <%= link_to "Encontre-me", welcome_index_path, class: "btn-link" %>
      </div>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to new_user_session_path do %> <span class="glyphicon glyphicon-log-in"></span> LOGIN</li> <% end %></li>
    </ul>

    <%= search_form_for @q, url: welcome_index_path, html: { class: "navbar-form navbar-right", method: :get } do |f| %>
      <div class="row">
        <div class="col-lg-6">
          <div class="input-group input-group-md">
            <%= f.search_field :city_cont, class: "form-control", id: "search-field-city", placeholder: "Digite ou habilite local" %>

            <span class="input-group-btn input-group-md">
              <button onclick="getLocation(event)" class="btn btn-success btn-md" id="geolocation-button"><i class="glyphicon glyphicon-map-marker"></i></button>
            </span>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="input-group input-group-md">
            <%= f.search_field :title_or_description_cont, class: "form-control", id: "search-field", placeholder: "Digite o que você procura!" %>
              <span class="input-group-btn input-group-md">
                <%= button_tag type: 'submit', class: "btn btn-danger", id: "submit-button" do %>
                  <i class="fa fa-search"></i>
                <% end %>
              </span>
          </div>
        </div>
      </div>
      

      <%= hidden_field_tag :latitude, params[:latitude], class: "form-control", id: "latitude-field" %>

      <%= hidden_field_tag :longitude, params[:longitude], class: "form-control", id: "longitude-field" %>

    <% end %>

  </div><!-- /.container-fluid -->
</nav>


<section id="sessao">
  <% if @ads.length > 0 %> 
    <div class="container">
      <div class="row">
        <% @ads.each do |ad| %>
          <div class="col-md-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <%= ad.title %>
              </div>
              <div class="panel-body">
                <%= image_tag ad.picture.variant(resize: "400x200"), class: "img-responsive" if ad.picture.attached? %>
              </div>

              <ul class="list-group">
              <li class="list-group-item"><%= link_to '<i class="fa fa-whatsapp"></i> Entre em contato'.html_safe, "https://wa.me/#{ad.contact}", target: "_blank", class: "btn btn-success btn-xs" %> </li>
              <% if session[:latitude] != 0 && session[:longitude] != 0 %>
                      <li class="list-group-item"><%= distance(session[:latitude], session[:longitude], ad.latitude, ad.longitude) %><b> KM de você</b></li>
                <% end %>

              <li class="list-group-item"><%= link_to showad_path(ad), class: "btn btn-primary btn-xs", remote: true do %> Detalhes <% end %> </li>
              </ul>
            </div> 
          </div>
        <% end %>
      </div>
    </div>
  <% else %>  
    <div class="container">
      <div class="row">
        <% @categories.each do |category| %>
          <div class="col-lg-3 col-md-6">
              <div class="panel panel-primary">
                  <div class="panel-heading">
                    <br>
                      <div class="row">
                          <div class="col-xs-3">
                              <i class="fa fa-list-alt fa-5x"></i>
                          </div>
                          <div class="col-xs-9 text-right">
                              <div class="huge"> </div>
                              <br>
                              <div><%= category.name %></div>
                          </div>
                      </div>
                  </div>
                  <%= link_to ad_by_category_path(category), id: "link" do %>
                      <div class="panel-footer" id="primary">
                          <span class="pull-left">Ver anúncios</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                      </div>
                  <% end %>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</section>

<div class="container">
  <div class="row">
    <div class="text-center">
      <%= paginate @ads %>
    </div>
  </div>
</div>

<div class="container" id="footer">
  <hr>
  <div class="row">
    <div class="text-center">
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">About us</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">Product for Mac</a></li>
          <li><a href="#">Product for Windows</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><%= link_to "Web analytics", class: "btn btn-link" %></li>
          <li><%= link_to "Presentations", class: "btn btn-link" %></li>          
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><%= link_to "Product Help", class: "btn btn-link" %></li>
          <li><%= link_to "Developer API", class: "btn btn-link" %></li>
        </ul>
      </div>  
    </div>
  </div>
  <hr>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills nav-justified">
                <li><a href="#">© 2020 Encontre-me.</a></li>
                <li><%= link_to "Terms of Service", class: "btn btn-link" %></li>
                <li><%= link_to "Privacy", class: "btn btn-link" %></li>
            </ul>
        </div>
    </div>
</div>

<%= render partial: "modals/ad_modal" %> 

