<div class="panel panel-default">
  <div class="panel-heading">
      <!-- Title if you wanna do it-->
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-6">

        <%= form_with(model: customer, local: true, html: { role: 'form' }) do |form| %>
          <% if customer.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

              <ul>
              <% customer.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="row">
            <div class="form-group">
              <div class="col-lg-10">
                <%= form.label :name %>
                <%= form.text_field :name, class: "form-control", placeholder: "Digite o nome do cliente" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-lg-6">
                <%= form.label :cpf %>
                <%= form.text_field :cpf, class: "form-control", placeholder: "Digite o CPF" %>
              </div>
            </div>
          </div>
          <hr>
          <div id="phones">
            <%= form.fields_for :phones do |phone| %>
              <%= render 'customers/phones/phone_fields', :f => phone %>
            <% end %>

            <div class="links">
              <%= link_to_add_association 'Novo Telef.', form, :phones, partial: 'customers/phones/phone_fields', class: "btn btn-primary btn-xs" %>
            </div>
          </div>
          <hr>

          <%= form.fields_for :address do |ff| %>
            <div class="row">
              <div class="form-group">
                <div class="col-lg-6">
                  <%= ff.label :cep %>
                  <%= ff.text_field :cep, class: "form-control", placeholder: "Digite o CEP" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <div class="col-lg-10">
                  <%= ff.label :street %>
                  <%= ff.text_field :street, class: "form-control", placeholder: "Digite a Rua" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <div class="col-lg-8">
                  <%= ff.label :neighborhood %>
                  <%= ff.text_field :neighborhood, class: "form-control", placeholder: "Digite o nome da Rua" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <div class="col-lg-6">
                  <%= ff.label :city %>
                  <%= ff.select :city, options_for_select(cities, selected: @customer.address.city), {}, class: "form-control" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <div class="col-lg-6">
                  <%= ff.label :state %>
                  <%= ff.select :state, options_for_select(state, selected: @customer.address.state), {}, class: "form-control" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <div class="col-lg-10">
                  <%= ff.label :email %>
                  <%= ff.text_field :email, class: "form-control", placeholder: "exemplo@email.com" %>
                </div>
              </div>
            </div>

          <% end %>

          <div class="row">
            <div class="actions">
              <div class="col-lg-6">
                <%= form.submit t('helpers.submit.create'), class: "btn btn-success" %>
                <%= link_to "#{translate 'actions.back'}", customers_path, class: "btn btn-primary" %>
              </div>
            </div>
          </div>

        <% end %>

      </div>
        <!-- /.col-lg-6 (nested) -->
    </div>
    <!-- /.row (nested) -->
  </div>
  <!-- /.panel-body -->
</div>
