<div class="panel panel-default">
  <div class="panel-heading">
      <!-- Title if you wanna do it-->
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-6">

        <%= form_with(model: customer, local: true, role: 'form') do |form| %>
          <% if customer.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

              <ul>
              <% customer.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <%= form.label :name %>
            <%= form.text_field :name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :cpf %>
            <%= form.text_field :cpf, class: "form-control" %>
          </div>

          <div id="phones">
            <%= form.fields_for :phones do |phone| %>
              <%= render 'customers/phones/phone_fields', :f => phone %>
            <% end %>

            <div class="links">
              <%= link_to_add_association 'Add phone', form, :phones, partial: 'customers/phones/phone_fields', class: "btn btn-outline btn-primary btn-xs" %>
            </div>
          </div>
          <br>
          <div class="actions">
            <%= form.submit 'Save', class: "btn btn-outline btn-success" %>
            <%= link_to 'Back', customers_path, class: "btn btn-outline btn-primary" %>
          </div>
        <% end %>

      </div>
        <!-- /.col-lg-6 (nested) -->
    </div>
    <!-- /.row (nested) -->
  </div>
  <!-- /.panel-body -->
</div>
