<div class="container" id="container">
	<div class="row">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h1><div class="text-center"><%= @category.name %></div>
					<div class="text-right"> <%= link_to "Voltar", welcome_index_path, class: "btn btn-default" %> </div>
				</h1>
			</div>
			<div class="panel-body">
				<div class="container">
				  <div class="row">
				    <% @category.ads.each do |ad| %>
				      <div class="col-md-3">
				        <div class="panel panel-primary">
				          <div class="panel-heading">
				            <%= ad.title %>
				          </div>
				          <div class="panel-body">
				            
				          </div>

				          <ul class="list-group">
				            <li class="list-group-item"><%= ad.street %></li>
				            <li class="list-group-item"><%= ad.city %></li>
				            <li class="list-group-item"><%= ad.state %></li>
				       
					        <li class="list-group-item"><%= link_to '<i class="fa fa-whatsapp"></i> Entre em contato'.html_safe, "https://wa.me/#{ad.contact}", target: "_blank", class: "btn btn-success btn-xs" %> </li>
					        <% if session[:latitude] != 0 && session[:longitude] != 0 %>
				  	              <li class="list-group-item"><%= distance(session[:latitude], session[:longitude], ad.latitude, ad.longitude) %><b> KM de você</b></li>
				  	            <% end %>

					        <li class="list-group-item"><%= link_to showad_path(ad), class: "btn btn-primary btn-xs", remote: true do %> Detalhes <% end %> </li>
				          </ul>
				        </div> 
				      </div>
				    <% end %>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
<%= render partial: "modals/ad_modal" %> 