<div class="modal fade" id="newCustomerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel"><%= t('actions.new', model: @customer.model_name.human)%></h4>
      </div>
      <div class="modal-body">
        <%= form_with(model: @customer, remote: true, html: { role: 'form' }) do |form| %>

          <% if @customer.errors.any? %>
            <div id="error_explanation">
              <div class="alert alert-danger" role="alert">
                <h2><%= t('activerecord.errors.not_saved', :model => customer.model_name.human, :count => customer.errors.count) %></h2>

                <ul>
                <% @customer.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            </div>
          <% end %>
      

          <div class="row">
            <div class="form-group">
              <div class="col-lg-10">
                <%= form.label :name %>
                <%= form.text_field :name, class: "form-control", placeholder: "Nome do Cliente" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-lg-6">
                <%= form.label :cpf %>
                <%= form.text_field :cpf, class: "form-control", placeholder: "CPF do Cliente" %>
              </div>
            </div>
          </div>

          <hr>
          <div id="phones">
            <%= form.fields_for :phones do |phone| %>
              <%= render 'customers/phones/phone_fields', :f => phone %>
            <% end %>

            <div class="links">
              <%= link_to_add_association 'Novo Telef.', form, :phones, partial: 'customers/phones/phone_fields', class: "btn btn-primary btn-xs" %>
            </div>
          </div>
          <hr>

          <%= form.fields_for :address do |ff| %>
            <div class="row">
              <div class="form-group">
                <div class="col-lg-6">
                  <%= ff.label :cep %>
                  <%= ff.text_field :cep, class: "form-control", placeholder: "CEP" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <div class="col-lg-10">
                  <%= ff.label :street %>
                  <%= ff.text_field :street, class: "form-control", placeholder: "Nome da Rua" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <div class="col-lg-8">
                  <%= ff.label :neighborhood %>
                  <%= ff.text_field :neighborhood, class: "form-control", placeholder: "Bairro" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <div class="col-lg-6">
                  <%= ff.label :city %>
                  <%= ff.select :city, options_for_select(cities, selected: @customer.address.city), {}, class: "form-control" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <div class="col-lg-6">
                  <%= ff.label :state %>
                  <%= ff.select :state, options_for_select(state, selected: @customer.address.state), {}, class: "form-control" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <div class="col-lg-10">
                  <%= ff.label :email %>
                  <%= ff.text_field :email, class: "form-control", placeholder: "exemplo@email.com" %>
                </div>
              </div>
            </div>

          <% end %>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            <%= submit_tag t('helpers.submit.create'), class: "btn btn-primary" %>
          </div>
        
        <% end %>


      </div>
    </div>
  </div>
</div>




